name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Cancel concurent in-progress jobs or run on pull_request.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ruff-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
          args: "check --output-format concise"

  ruff-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
          args: "format --diff"

  mypy:
    name: Mypy on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.python-version }}"
      - uses: astral-sh/setup-uv@v7
      - name: Run mypy
        run: uv run -m mypy

  pyright:
    name: Pyright on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.python-version }}"
      - uses: astral-sh/setup-uv@v7
      - name: Run pyright
        run: uv run -m pyright

  ty:
    name: Ty on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.pyton-version }}
      - name: Run mypy
        run: uvx ty check --output-format concise
